html, body {
    height: 100%;
}
.container-page {
    height: 100%;
    overflow-y: hidden; /* don't show content that exceeds my height */
}
.body-page {
    height: 100%;
    overflow-y: auto; // a value of 'scroll' will force scrollbars, even if they aren't necessary. This is cleaner.
}
.fill {
    min-height: 100%;
    height: 100%;
}

#table_validate td {
  vertical-align: middle !important;
}

@media (min-width: 768px) {
  .modal-dialog {
    width: 100%;
    margin: 30px auto;
  }
